html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

html {
	overflow: hidden;
}

body {
	box-sizing: border-box;
	display: grid;
	font-family: var(--sec-font-sans);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1, h2, h3, h4, p {
	margin: 0;
}
